.about-bg {
  background-image: url('../../common/image/Homepage+Banner+1900x940+V16.jpg');
}
.about{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken;
  height: 80vh;
  flex-direction: column;
  justify-content: space-evenly;
  .about-greeting {
  font-family: 'AmaticSC-Regular';
  font-weight: 700;
  font-size: 120px;
  color: #ffffff;
 }
  .about-greeting_links {
  width: 35%; 
  span {
  justify-content: center;
    }
  }
}