.about {
  background-image: url('../common/image/about-page-bg.png');
}
.about-info {
  padding: 100px 0;
  img {
  width: 50%;
}
p {
  font-size: 20px;
  text-align: left;
  margin: 20px 0;
}
span {
  font-weight: 700;
  font-size: 30px;
  line-height: 0px;
  color: #db8e00;
}
}
.about-info_top {
  align-items: flex-start;
  margin-bottom: 60px;
  > div{
  padding-left: 30px;
  width: 50%;

}
}
.about-info_bottom{
  flex-direction: row-reverse;
  >div {
  padding-right:30px;
  margin-bottom: 100px;
}
}