@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@font-face {
  font-family: 'AmaticSC-Regular';
  src: url('./components/common/fonts/AmaticSC-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}
body {
  background: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #232323;
}
h3 {
  font-size: 48px;
  margin-bottom: 20px;
}
h5 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}
p {
  font-weight: 400;
  font-size: 25px;
  line-height: 51px;
  text-align: center;
  color: #000000;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links,
.header-links a,
.about-greeting_links a,
.often-order_btn {
  font-weight: 400;
  font-size: 17px;
  line-height: 0px;
  color: #ffffff;
  text-decoration: none;
}
.header-links_btn,
.about-greeting_links span,
.often-order_btn {
  background: #673ab7;
  width: 220px;
  height: 50px;
  cursor: pointer;
}
/* button css */